
* {
	font-family: 'Century Schoolbook', Arial, Helvetica, sans-serif;
	font-size: 20px;
}

body {
	background-color: antiquewhite;
	box-sizing: border-box;
	padding: 100px;
	margin: 0;
	border: 0px;
	
}

.canvas {
	background-color: orange;
	align-content: center;
	color: black;
	box-shadow: 15px 10px 30px .3rem black;
	border-radius: 6px;
}

#ftitle {
	border-bottom: groove;
	text-align: center;
	padding-top: 5%;
	font-weight: bolder;
	font-size: 50px;

}
#ftitle img {
	width: 70px;
	height: 50px;
}


fieldset {
	border: outset;
	padding: 15px;
	
}

#fdiv {
	padding: 5px 20% 20% 20%;
}

form label, form input {
	display: block;
}

.encryptionInput input[type="text"] {
	margin-bottom: 20px;
}

#submitBtn {
	width: 130px;
	height: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: pink;
	border-radius: 20px;
}

#progress {
	width: 50%;
	background-color: grey;
}

#bar {
	width: 1%;
	height: 30px;
	background-color: green;
}


/*#submitBtn:hover {
	width: 110px;
	height: 40px;
}*/

/*#submitBtn::after {
	background-image: url("images/img1.png");
}*/


/*label::before {
	content: "❤️";
}*/

